.banner-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;

  .banner-item {
    // flex-grow: 1;
    // flex-shrink: 0;
    // flex-basis: 0;
    flex: 1;

    &:hover {
      .banner-img img {
        opacity: 0.5;
        transform: scale(1.07);
      }
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.banner-top {
  &.style-four {
    .swiper-button-prev,
    .swiper-button-next {
      background-color: var(--black);
      color: var(--white);

      &::after {
        font-size: 16px;
      }
    }

    .swiper-button-prev {
      left: 0;
      justify-content: flex-start;
    }

    .swiper-button-next {
      right: 0;
      justify-content: flex-end;
    }

    @media (max-width: 640px) {
      .swiper-button-prev,
      .swiper-button-next {
        &::after {
          font-size: 12px;
        }
      }
    }
  }

  &.bg-green {
    .swiper-button-prev,
    .swiper-button-next {
      background-color: var(--green);
      color: var(--black);
    }
  }
}

.tab-features-block .banner {
  &:hover {
    .heading4 {
      text-decoration: underline;
    }

    img {
      transform: scale(1.05);
    }
  }
}
