.collection-item {
  // Glass Effect
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */

  .bg-img img {
    transition: all ease 0.8s;
  }

  &:hover {
    .bg-img img {
      transform: scale(1.08);
    }
  }

  .collection-name {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--black);
    color: var(--white);

    &:hover {
      background-color: var(--green);
      color: var(--black);

      svg {
        path {
          fill: var(--black);
        }
      }
    }
  }
}

.collection-block.style-six .list-collection .swiper {
  overflow: unset;
}

.trending-block {
  .trending-item {
    .bg-img img {
      transition: all ease 0.5s;
    }

    &:hover {
      .bg-img img {
        transform: scale(1.1);
      }
    }
  }
}
