.list-instagram {
  .icon {
    opacity: 0;
    visibility: hidden;

    &:hover {
      .icon-instagram {
        color: var(--white);
      }
    }
  }

  .item {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      opacity: 0;
      z-index: 1;
      transition: all ease 0.5s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      > img {
        transform: translateZ(0) scale(1.04);
      }

      .icon {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
