@import 'icomoon/style.css';
@import 'custom-swiper.scss';
@import 'loading.scss';
@import 'globals.scss';
@import 'modal.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'product.scss';
@import 'blog.scss';
@import 'shop.scss';
@import 'faqs.scss';
@import 'cart.scss';
@import 'checkout.scss';
@import 'compare.scss';
@import 'layout/category-active.scss';
@import 'layout/text-has-line-before.scss';
@import 'layout/collection.scss';
@import 'layout/tab-features.scss';
@import 'layout/banner.scss';
@import 'layout/testimonial.scss';
@import 'layout/instagram.scss';
@import 'layout/benefit.scss';
@import 'layout/newsletter.scss';
@import 'layout/featured-product.scss';

@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
